
section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.gallery_list {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
}

.gallery_item {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px 20px;
    padding: 10px 15px;
    background: #111;
    border-radius: 5px;
}

.gallery_item a {
    text-transform: uppercase;
}