

.friend_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    color: #e6e6e6;
    background: #111;
    border-radius: 10px;
}

.profile_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
} 

.profile_info a {
    color: #e6e6e6;
}

.profile_info a:hover {
    color: #ff9900;
}

.profile_picture {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.friend_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.friend_info a {
    text-transform: uppercase;
}


/* LISÄÄ KAVERI SIVUN TYYLIT */

#user_list {
    margin-top: -15px;
    margin-bottom: 10px;
}



@media screen and (max-width: 480px){
    .link_text {
        display: none;
    }
    .friend_info a {
        font-size: 1rem;
    }
}