

.friend_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #d1d1d1;
    border-radius: 5px;
    color: #111;
    cursor: pointer;
}

.profile_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.profile_picture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.friend_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.friend_info a {
    color: #557055;
    text-decoration: none;
}

.friend_info a:hover {
    color: #71b371;
}


/* LISÄÄ KAVERI SIVUN TYYLIT */

#user_list {
    margin-top: -15px;
    margin-bottom: 10px;
}



@media screen and (max-width: 480px){
    .link_text {
        display: none;
    }
    .friend_info a {
        font-size: 1rem;
    }
}