
#droparea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
    border: 3px dashed #222;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 60px 20px;
}

#droparea.highlight {
    background: #abcaab;
    border-color: green;
}

#images {
    display: none;
}
  
li {
    list-style: disc;
    font-size: .9rem;
    margin-left: 30px;
}





.image_form {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.has_images {
    display: flex;
}

.selected_images {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.field_wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.image_form label {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
}

.image_form input, .image_form select {
  box-sizing: border-box; /* Add this line */
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
}

.image_form input:focus, 
.image_form textarea:focus
.image_form select:focus {
    outline-style: none;
    border-color: #ff9900;
    box-shadow: 0 0 5px #ff9900;
}

#selected_gallery option:first-child {
    font-weight: bold;
}

.image_form input[type="file"] {
    display: none;
} 

.preview {
    width: 100px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 5px;
}

.error_msg {
    color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    margin-top: -5px;
    align-self: flex-end;
}



@media screen and (max-width: 768px) {
    .field_wrapper {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        margin: 10px 0;
    }
    .field_wrapper label {
        margin-bottom: -5px;
    }
    .preview {
        width: 100%;
    }
}

