.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#infoSuccess {
    display: none;
}

strong {
    text-transform: uppercase;
}

#profile_img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

#accept_file_select {display: none; font-size: 1.2rem;}
#clear_file_select {display: none; font-size: 1.2rem;}

@media screen and (max-width: 768px) {
    .hero_container {
        grid-template-columns: 1fr;
    } 
}

@media screen and (max-width: 480px) {
    .info_container {
        grid-template-columns: 1fr;
    }  
}


