.grid_container {
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
}

.grid_item {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.inline_x2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: right;
}

.important_list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.image_container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.file_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#accept_file_select {display: none; font-size: 1.2rem;}
#clear_file_select {display: none; font-size: 1.2rem;}

#file_err {
    color: red;
    font-size: .8rem;
}

@media screen and (max-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr;
    }
    .image_container {
        flex-direction: column;
    }
    
}


