@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
    margin: 0;
    min-height: 100vh;
}
body::after {
    display: block;
    height: 500px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
    display: block;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #979797;
    border-left: none;
    width: 100%;
    margin: 0;
}




/* COMMON STYLES */


body {
    background-color: #f4f4f4;
    position: relative;
    margin: 0;
    min-height: 100vh;
    z-index: 0;
}

body::after {
    display: block;
    height: 140px;
}

h1 {font-size: 2.5rem; line-height: 1.2;}
h2 {font-size: 2rem; line-height: 1.2;}
h3 {font-size: 1.5rem; line-height: 1.2;}
h4 {font-size: 1.2rem; line-height: 1.2;}
h5 {font-size: 1rem; line-height: 1.2;}
h6 {font-size: 0.8rem; line-height: 1.2;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

p, li, input, textarea, select, label, th, td {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.large_txt {
    font-size: 1.6rem;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #399c39;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #1b4b1b;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, #111 0%, #333 100%);
    color: #e6e6e6;
    transition: 0.3s;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #399c39;
}

.green {color: #399c39;}
.red {color: #ff0000;}




/* HEADER */
header {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #111;
    padding: 15px 20px;
    gap: 10px;
}

.logo {
    position: relative;
    align-self: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.75rem;
    text-decoration: none;
    margin: 0;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
}

.home_icon {
    position: absolute;
    top: -10px;
    left: -14px;
    font-size: 1rem;
    transform: scaleX(0) scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: right bottom;
}

.logo:hover > .home_icon {
    transform: scaleX(1) scaleY(1);
    transition: transform .3s ease-in-out;
    transform-origin: right bottom;
}

.logo_container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
    gap: 10px;
    align-items: center;
    margin: auto;
    padding: 10px 0;
}

.logo_container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
    color: #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.logo_container a.active,
.logo_container a:hover {
    color: #399c39;
}



/* USER NAVIGATION */

#user_navigation {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background: #3f803f;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.3s ease-in-out;
}

#user_navigation.active {
    z-index: 100;
    width: 340px;
    transform: scaleX(1);
    transform-origin: right;
    transition: all 0.3s ease-in-out;
}

.menu_overlay {
    display: none;
    position: fixed;
    width: 100%; /* Full width minus the width of the menu */
    height: 100%;
    top: 0;
    right: 0; /* Start from the right edge of the menu */
    background-color: #11111150; /* Black background with 0.5 opacity */
    z-index: 1;
}

.menu_overlay.active {
    display: block;
    user-select: none;
}

#user_navigation > a:last-child {
    padding: 40px 0;
}

#close_user_menu {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.75rem;
    cursor: pointer;
}

.user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 75px 0;
}

.user_image_wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: transparent;
    overflow: hidden;
}

.user_image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user_navigation h4, 
#user_navigation p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#user_navigation a {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

#user_navigation a:hover,
#user_navigation a.active {
    color: #111;
}

.user_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    margin-top: -75px;
}

.user_links a {
    font-size: 1.05rem;
}







.search_form {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    align-items: center;
    padding: 0 0 5px 0;
    justify-content: center;
}

.search_form input { 
    padding: 10px 15px;
    min-width: 500px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    border-radius: 5px 0 0 5px;
}

.search_form input:focus {
    outline-style: none;
    border-color: none;
    box-shadow: none;
}

::placeholder {
    color: #111;
}

.search_form select {
    padding: 11.5px 5px 11.5px 11.5px;
    outline-style: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #696969;
    border-radius: 0 5px 5px 0;
}

.search_form option {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #696969;
}

.search_form button {
    white-space: nowrap;
    background: transparent;
    padding: 10px 15px;
}





/* NAVIGATION */
.top_navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    position: relative;
    gap: 10px;
    padding: 10px 0;
}

.top_navi a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
    color: #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.top_navi a:hover,
.top_navi a.active {
    color: #399c39;
}





/* PAGE NAVIGATION */
.page_navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto 20px auto;
    padding: 0px 20px;
    gap: 10px;
    position: relative;
    align-items: center;
}

.page_navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    background: #3f803f;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    transform: all .3s ease-in-out;
}

.page_navbar a:hover, .page_navbar a.active {
    background: #111;
    color: #fff;
}









main {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 140px 20px;
    gap: 20px;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.grid_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: left;
}






/* PAGE FORMS */

.page_form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.inline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.inline a {
    width: fit-content;
}

.page_form label {
    display: block;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.page_form input, 
.page_form textarea {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    transition: 0.3s;
}

.file_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.page_form input[type="file"] {
    display: flex;
    max-width: fit-content;
    border: none;
    padding: 0px;
}

.page_form input[type="file"]::file-selector-button {
    background: #3f803f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}

.page_form input[type="file"]:hover::file-selector-button {
    background: #111;
}

.text_view {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
}

.page_form select {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    border: none;
}

.page_form option {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    margin: 15px;
}

.page_form input:focus, 
.page_form textarea:focus {
    outline-style: none;
    border-color: #399c39;
    box-shadow: 0 0 5px #399c39;
}

.error_msg {
    color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    margin-top: -5px;
    align-self: flex-end;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
}

.hidden {
    display: none;
}








footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #111;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: .9rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.footer_links a {
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}

.footer_links a:hover {
    color: #399c39;
}





@media screen and (max-width: 768px) {
    .nav_txt {
        display: none;
    }
    .top_navi {
        justify-content: space-around;
    }
    .top_navi > a {
        font-size: 1.3rem;
    }
    .grid_container {
        gap: 20px;
    }
}


@media screen and (max-width: 480px) {
    .inline {
        flex-direction: column;
        gap: 3px;
        align-items: stretch;
    }
    .page_form input:not([type="file"]), 
    .page_form textarea {
        width: inherit;
    }
    .logo {
        font-size: 2rem;
    }
    #user_navigation.active {
        width: 300px;
    }
}
